body{
    background-image: url(./img/gamerback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.cuadro {
    margin-top: 5%;
    margin-left: 13%;
    margin-right: 5%;
    display: flex;
    margin-bottom: 30px;
}


.bienvenido {
    background-color: #8332E5;
    /* border-radius: 15px; */
    text-align: center;
    /* padding: 0; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px 5px;
    width: 40%;
}
#title{
    margin-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 70px;
}

.marca {
    width: 50%;
    margin-top: 25%;
    margin-left: 5%; 
}
#login {
    border-radius: 30px;
    /* margin-bottom: 10%; */
    margin-top: 40px;
    margin-left: 5%;
    padding: 15px 15px;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.registro {
    background-color: #CCCCCC;
   text-align: center;
   padding: 30px 30px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}

.dato {
    background-color: #C8A9D0;
    border-radius: 15px;
    border: none;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-left: 70px;
    display: flex; /*para desplazar vertical*/
    text-align: center; /*para centrar texto */

}

.cuenta {
    margin-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    /* margin-top: 20%; */
    margin-bottom: 40px;
}
.titu{
    margin-left: 30px;
    font-family:'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}
.rs{ 
    width: 50px;
    margin-left: 30px;
    background-color: #8332E5;
    border-radius: 70%;
    padding: 10px;
    border: none;

}


#register {
    margin-bottom: 5%;
    /* margin-left: 10%; */
    margin-top: 30px;
    border-radius: 30px;
    padding: 15px 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: none;
    background-color: #8332E5;
    color: aliceblue;
}

